@import "./vars.less";

@logoWidth: 160px;
@logoHeight: 92px;
@logoRatio: 0.5;
@logoW: @logoWidth * @logoRatio;
@logoH: @logoHeight * @logoRatio;

@titleRatio: 0.5;
@titleWidth: 366px;
@titleHeight: 66px;
@titleW: @titleWidth * @titleRatio;
@titleH: @titleHeight * @titleRatio;

.header {
    position: relative;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: 10;
    &:before {
        position: absolute;
        display: block;
        content: " ";
        width: 100%;
        height: 5px;
        top: 0;
        left: 0;
        background: @logoBlue;
    }

    .logo-wrap {
        position: relative;
        margin: 0 auto;
        width: @logoW;
        z-index: 10;
        .logo {
            background: url('./images/tuba-logo-bike.png') no-repeat center;
            background-size: @logoW @logoH;
            width: 100%;
            height: @logoH;
            position: absolute;
            left: 0;
            top: 9px;
            &>a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .title-wrap {
        position: relative;
        margin: 0 auto;
        width: @titleW;
        .title {
            background: url('./images/tuba-logo-title-zh.png') no-repeat center;
            background-size: @titleW @titleH;
            position: absolute;
            left: 0;
            top: @logoH + 9;
            width: @titleW;
            height: @titleH;
            margin: 0;
            &>a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .nav {
        &.col-4 {
            width: 840px;
            .menu-item {
                width: 18%;
                margin: 0 1%;
                &:nth-child(2) {
                    margin: 0 11% 0 1%;
                }
                &:nth-child(3) {
                    margin: 0 1% 0 11%;
                }
            }
        }
        &.col-6 {
            width: 1000px;
            .menu-item {
                width: 11%;
                margin: 0 1%;
                &:nth-child(3) {
                    margin: 0 12% 0 1%;
                }
                &:nth-child(4) {
                    margin: 0 1% 0 12%;
                }
            }
        }
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        top: 0;
        &:after {
            position: absolute;
            display: none;
            content: " ";
            height: 1px;
            width: 740px;
            left: 50px;
            bottom: 0;
            background: #ddd;
        }
        .ul {
            font-size: 0;
            padding: 0;
            .menu-item {
                display: inline-block;
                height: 26px;
                text-align: center;
                a {
                    font-size: 17px;
                    font-weight: 400;
                    padding: 23px 0 9px 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 20px;
                    .Transition(color, 0.2s, ease-in-out);
                    &:link,
                    &:visited {
                        color: @logoBlue;
                    }
                    &:hover {
                        color: #fc913a;
                    }
                    &:active {
                        color: #000;
                    }
                }

            }
        }
        .search {
            position: absolute;
            top: 0;
            right: 0;
            .searchform {
                label {
                    display: none;
                }
                margin: 0 0 0 10px;
                padding: 20px 0;
                .input {
                    width: 100%;
                    text-indent: 23px;
                    border: 0;
                    border-radius: 5px;
                    padding: 3px;
                    background: transparent url('./images/search.png') no-repeat 5px;
                    background-size: 15px 15px;
                    .Transition(all, 0.2s, ease-in-out);
                    &::-webkit-input-placeholder {
                        color: @logoBlue;
                    }
                    &:focus {
                        border: 1px solid #ccc;
                    }
                    &:focus::-webkit-input-placeholder {
                        color: #aaa;
                    }
                }
            }
        }
    }
}
.hero {
    position: relative;
    overflow: hidden;
    .img {
        margin: 0 auto;
        width: 100%;
    }
    .title-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
    }
    .title {
        margin: 0;
        padding: 200px 0 0 0;
        text-align: center;
        font-size: 60px;
        text-shadow: 0 0 8px #222;
        letter-spacing: 1px;
        font-weight: 100;
    }
    .subtitle {
        text-align: center;
        font-size: 15px;
        margin: 12px 0 0 0;
        padding: 0;
        text-shadow: 0 0 8px #555;
        letter-spacing: 0.3px;
        font-weight: 100;
    }
}
.body {
    width: 1000px;
    margin: 0 auto;
    font-size: 0;
    .page {
        position: relative;
        display: inline-block;
        padding: 20px 0 0 0;
        font-size: 15px;
        width: 700px;
        vertical-align: top;
        h2,
        h3 {
            color: @logoBlue;
            font-weight: 500;
        }
    }
    .post-edit-link {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background: rgba(255, 114, 0, 0.75);
        padding: 3px 10px 7px 10px;
        border-radius: 0 0 5px 0;
        z-index: 100;
    }
}

.sidebar {
    vertical-align: top;
    display: inline-block;
    font-size: 15px;
    padding: 30px 0 0 0;
    .widget-sidebar {
        margin: 0 0 20px 0;
        ul {
            padding: 0;
            h3 {
                color: @logoBlue;
                font-size: 24px;
                font-weight: 500;
                margin: 0 0 5px 0;
            }
            li {
                list-style: none;
                a {
                    &:link,
                    &:visited {
                        color: #555;
                    }
                    &:hover {
                        color: #777;
                    }
                    &:active {
                        color: #333;
                    }
                }
            }
        }
    }
}
.footer {
    height: 30px;
    margin: 20px 0 0 0;
    padding: 20px;
    background: #14222e;
    .nav {
        position: relative;
        margin: 0 auto;
        .ul {
            padding: 0;
            font-size: 0;
            li {
                list-style: none;
                padding: 0;
                a {
                    .Transition(color, 0.2s, ease-in-out);
                }
            }
            &>li {
                vertical-align: top;
                display: inline-block;
                font-size: 15px;
                &>a {
                    display: block;
                    margin: 0 0 3px 0;
                    &:link,
                    &:visited {
                        color: #fff;
                    }
                    &:hover {
                        color: #fc913a;
                    }
                    &:active {
                        color: #ff7200;
                    }
                }
            }
            .sub-menu {
                padding: 0;
                font-size: 13px;
                line-height: 24px;
                .menu-item {
                    a {
                        &:link,
                        &:visited {
                            color: #999;
                        }
                        &:hover {
                            color: #bbb;
                        }
                        &:active {
                            color: #777;
                        }
                    }
                }
            }
        }
    }
    .copy {
        position: relative;
        color: #aaa;
        font-size: 14px;
        text-align: center;
        padding: 10px 0 50px 0;
        letter-spacing: 0.3px;
        &:before {
            display: block;
            content: " ";
            width: 1000px;
            height: 1px;
            background: #aaa;
            margin: 0 auto 30px auto;
        }
    }
}

//Desktop
@media only screen and (min-width : 737px) {
    .hero {
        height: 520px;
        .img {
            background: url('./images/hero.jpg') no-repeat center;
            max-width: 1600px;
            height: 900px;
        }
    }
    .page {
        .page {
            width: 1000px;
        }
        &.home {
            .page {
                width: 700px;
            }
        }
    }
    .sidebar {
        width: 300px;
    }
    .footer {
        .nav {
            width: 1000px;
            font-size: 0;
            .menu-footer-container {
                vertical-align: top;
                width: 80%;
                display: inline-block;
                .ul {
                    width: 100%;
                }
                li {
                    width: 25%;
                }
            }
            .func {
                width: 20%;
                display: inline-block;
                .ul {
                    .li {
                        width: 100%;
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
        .search {
            display: none;
        }
    }

}
// cellphone
@media only screen and (max-width : 736px) {
    @logoRatio: 0.4;
    @logoW: @logoWidth * @logoRatio;
    @logoH: @logoHeight * @logoRatio;
    .header {
        .nav {
            &.col-6,
            &.col-4 {
                width: 100%;
                .menu-item {
                    width: 19.5%;
                    margin: 0 0.5%;
                    &:nth-child(2) {
                        margin: 0 9.5% 0 0.5%;
                    }
                    &:nth-child(3) {
                        margin: 0 0.5% 0 9.5%;
                    }
                    &:nth-child(4) {
                        margin: 0 0.5%;
                    }
                    &:last-child {
                        display: none;
                    }
                }
            }
            .ul {
                .menu-item a {
                    font-size: 14px;
                    letter-spacing: -0.5px;
                }
            }
            .search {
                display: none;
                .searchform {
                    margin: 0;
                    .input {
                        font-size: 12px;
                    }
                }
            }
        }
        .logo-wrap {
            width: @logoW;
            .logo {
                background-size: @logoW @logoH;
                height: @logoH;
                top: 18px;
            }
        }
    }
    .hero {
        height: 240px;
        .img {
            background: url('./images/stage1.jpg') no-repeat center;
            background-size: 110%;
            background-position: top;
            max-width: 736px;
            height: 450px;
        }
        .title {
            padding: 80px 0 0 0;
            font-size: 26px;
        }
    }
    .body {
        width: 100%;
    }
    .page {
        .page {
            width: 100%;
        }
        &.home {
            .page {
                width: 100%;
            }
        }
    }
    .sidebar {
        display: none;
    }
    .footer {
        .search {
            width: 100%;
            max-width: 500px;
            margin: 0 auto 15px auto;
            .input {
                background: #fff url('./images/search.png') no-repeat 5px;
                background-size: 15px 15px;
                border-radius: 5px;
                border: 1px solid #999;
                height: 24px;
                line-height: 28px;
                text-indent: 28px;
                width: 100%;
                padding: 0;
                &::-webkit-input-placeholder {
                    color: @logoBlue;
                }
            }
        }
        .nav {
            .ul {
                &>li {
                    width: 100%;
                    margin: 0 0 10px 0;
                }
                .sub-menu {
                    margin: 10px 0 0 0;
                    li {
                        padding: 0 0 0 15px;
                    }
                }
            }
        }
        .copy {
            padding: 20px 0;
            &:before {
                width: 90%;
                margin: 0 auto 20px auto;
            }
        }
    }
}