<div class="footer">
    <div class="nav">
        <ul class="ul">
            <li><?php get_search_form(); /* outputs the default Wordpress search form */ ?></li>
        </ul>
    </div>
	<div class="text">
        <?php echo date("Y") ?> &copy; <?php bloginfo('name'); ?> <?php _e('All Rights Reserved.'); ?>
    </div>
</div>