<div class="footer">
    <div class="nav Cf">
        <?php wp_nav_menu( array( 'theme_location' => 'secondary', 'menu_class' => 'ul') ); ?>
        <ul class="ul">
            <li class="li">
                <a href="<?php bloginfo('url'); ?>/feed">RSS</a>
            </li>
            <li class="li"><?php wp_loginout(); ?></li>
        </ul>
    </div>
    <div class="copy"><?php echo date("Y") ?> &copy; <?php bloginfo('name'); ?></div>
</div>