<div class="header">
    <div class="logo-wrap">
        <div class="logo"></div>
    </div>
    <div class="title-wrap">
        <h1 class="title">
            <a class="notxt" href="<?php bloginfo('url'); ?>/" ?>"><?php bloginfo('name'); ?></a>
        </h1>
    </div>
    <div class="nav">
        <?php wp_nav_menu( array( 'theme_location' => 'primary', 'menu_class' => 'ul') ); ?>
    </div>
</div>