<div class="header">
    <div class="logo-wrap">
        <div class="logo"><a href="<?php bloginfo('url'); ?>"></a></div>
    </div>
    <div class="title-wrap">
        <h1 class="title">
            <a href="<?php bloginfo('url'); ?>">
                <span class="notxt"><?php bloginfo('name'); ?></span>
            </a>
        </h1>
    </div>
    <div class="nav col-4">
        <?php wp_nav_menu( array( 'theme_location' => 'primary', 'menu_class' => 'ul') ); ?>
    </div>
</div>